.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top:0;
    z-index: 100;
    background-color: white;
}

.header__logo{
    height: 30px;
    object-fit: contain;
    margin-left: 20px;
}

.header__input{
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid lightgray;
    
}

.header__input > input{
    width: 100%;
    height: 35px;
    border: none;
}

.header__inputButton{
    width: 50px !important;
    background-color:#fafafafa;
    border-left: 1px solid lightgray;
}

.header__icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__icon{
    margin-right: 10px;
}