.recommendedVideos{
    flex: 0.8;
    background-color: #f9f9f9;
    padding: 40px 20px;
    padding-bottom: 0;
}

.flexOne{
    flex:1;
}

.recommendedVideos > h2{
    margin-left: 5px;
    margin-bottom: 20px;
}

.recommendedVideos__videos{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media only screen and (max-width: 900px) {
    .recommendedVideos{
        flex: 1;
    }
}