.sidebarRow{
    display: flex;
    align-items: center;
    padding: 10px 12px;
}

.sidebarRow__icon{
    color: #606060;
    font-size: large !important;
}

.sidebarRow__title{
    flex: 1;
    margin-left: 15px;
    font-size: 14px;
    font-weight:500;
}

.sidebarRow:hover{
    background-color: lightgray;
    cursor: pointer;
}
.sidebarRow:hover > .sidebarRow__icon{
    color:red;
}
.sidebarRow:hover > .sidebarRow__title{
    font-weight: bold;
}

.selected{
    background-color: lightgray;
}
.selected > .sidebarRow__icon{
    color:red;
}
.selected > .sidebarRow__title{
    font-weight: bold;
}